{% extends "users/base.html" %}
{% load product_tags %}

{% block title %}修改商品{% endblock title %}

{% block body %}
<form enctype="multipart/form-data" action="{% url 'product:changeproduct' product.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <image-multiple>

            {% for image in images %}
            <image-single  ng-init="initval('1111')" id="id" imgdes="{{image.description}}" imgurl="{{image|img_url}}" imgfile="picFile{{image|img_pk}}">
             </image-single>
            {% endfor %}
                   
        </image-multiple>



    <input type="submit" value="完成">
</form>
{% endblock %}
