{% extends "users/base.html" %}
{% load staticfiles %}
{% load product_tags %}
{% block title %}修改商品{% endblock title %}
{% block extrascripts %}
    
{% endblock extrascripts %}

{% block body %}
<form enctype="multipart/form-data" action="{% url 'product:changeproduct' product.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    	<div ng-controller="NewImageListController">
        <image-multiple addnew="addnew()">

            {% for image in images %}
            <span>{{image.description}}</span>
            <div ng-controller="SingleImageController">
            <image-single  ng-init="initold('{{image|img_pk}}')" fieldshow="fieldshow" id="id" delete="delete()" modify="modify()" imgdes="{{image.description}}" imgurl="{{image|img_url}}" imgfile="picFile{{image|img_pk}}">
             </image-single>
             </div>
            {% endfor %}

            <new-image-list >
            </new-image-list>
                   
        </image-multiple>
        </div>
 


    <input type="submit" value="完成">
</form>
{% endblock %}
