{% load %}
{% load staticfiles %}
{% load profile_tags %}
{% load product_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %} {% endblock title %}</title>

    <script src="{% static "sort/js/jquery-2.2.3.min.js" %}"></script>
    <script src="{% static "sort/js/angular.js" %}"></script>
    <script src="{% static "sort/js/ng-file-upload-shim.js" %}"></script>
    <script src="{% static "sort/js/ng-file-upload.js" %}"></script>
    <script src="{% static "sort/js/module.js" %}"></script>
    <script src="{% static "product/js/product-controller.js" %}"></script>
    <script src="{% static "product/js/product-shopping.js" %}"></script>
    
    {% block extrascripts%} {% endblock extrascripts %}
    {% block style%} {% endblock style %}
</head>

<body ng-app="app">
{% render_base_skeleton %}
{% render_key_search %}
<div id='main-body'>
{% block body %} 
{% endblock body %}
</div>

</body>
</html>
